# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.vs
.vscode

build
bin
obj
LibRenderer.tlog
*.log
BlazorEmscripten/Client/wwwroot/data/env/back.jpg
BlazorEmscripten/Client/wwwroot/data/env/back1.jpg
BlazorEmscripten/Client/wwwroot/data/env/bottom.jpg
BlazorEmscripten/Client/wwwroot/data/env/bottom1.jpg
BlazorEmscripten/Client/wwwroot/data/env/front.jpg
BlazorEmscripten/Client/wwwroot/data/env/front1.jpg
BlazorEmscripten/Client/wwwroot/data/env/left.jpg
BlazorEmscripten/Client/wwwroot/data/env/left1.jpg
BlazorEmscripten/Client/wwwroot/data/env/right.jpg
BlazorEmscripten/Client/wwwroot/data/env/right1.jpg
BlazorEmscripten/Client/wwwroot/data/env/top.jpg
BlazorEmscripten/Client/wwwroot/data/env/top1.jpg
BlazorEmscripten/Client/wwwroot/data/shader.frag
BlazorEmscripten/Client/wwwroot/data/shader.vert
BlazorEmscripten/Client/SWIG/*.cs